@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

* {
    box-sizing: border-box;
    top: 0;
    left: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    width: 100%;
    background: url(./imagens/background.png) no-repeat center center fixed;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80%;
}

.workspace {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 900px;
    height: 600px;
    padding: 10px;

    background-color: #0b0c10bd;
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);

    transition: all 0.5s ease;
}

header {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;

    width: 50%;
    max-width: 700px;
    height: 15%;
    padding: 10px;
}

header input {
    margin: 30px 5px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;

    color: rgb(165, 165, 165);
    font-size: 20px;
    padding: 10px;
}

header input:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#agrupa_tarefas_historicos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 100%;
    margin: 20px 0px;

    overflow-y: auto;

}

.tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: #66fcf1;
    width: 100%;
    height: 100%;
}

.tarefas h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.tarefas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    overflow-y: auto;
    height: 90%;
    width: 100%;
}

#finalizar-dia {
    margin: 10px;
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #66fcf1;
    border-radius: 30px;
    outline: none;
    color: #66fcf1;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s ease-in;
}

#finalizar-dia:hover {
    background-color: #0b0c10;
    width: 70%;
    max-width: 180px;
    box-shadow: black 0px 0px 15px;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    border-radius: 5px;
    background-color: #1f2833;

    width: 250px;
}

.task-name {
    border: none;
    border-radius: 5px 5px 0 0;
    font-size: 1em;
    flex-grow: 1;
    width: 100%;
    background-color: #0b0c10;
    color: #66fcf1;
}

.task span {
    font-weight: bold;
    margin: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
    color: #66fcf1;
}

.delete-task {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
}

.historico {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: #66fcf1;
    overflow-y: auto;
}

.historico button {
    background-color: rgb(137, 167, 177);
    border: none;
    margin-top: 7px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s ease-in;

    background-color: #1f2833;
    color: #66fcf1;
}

.historico button:hover {
    background-color: #39506d;
    color: white;
}

.historico h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.history-item {
    width: 250px;

    background-color: rgba(69, 162, 157, 0.190);
    color: #66fcf1;
    padding: 10px;
    margin: 17px 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.expanded-history {
    margin-top: 20px;
}

.expanded-task {
    width: 250px;

    background-color: #1f2833;
    margin: 5px 0px;
    border-radius: 5px;
    height: auto;

    overflow-wrap: break-word;
}

.expanded-task div {
    font-size: 1.1em;
    text-align: left;
    padding: 10px;
}

.centro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;
}

.centro div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.centro input {
    margin: 10px;
    padding: 20px;
    width: 80px;
    border-radius: 40px;
    border: 1px solid #66fcf1;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: transparent;
    color: #66fcf1;
    font-weight: bold;
}

.centro input:hover {
    background-color: #66fcf1;
    color: #0b0c10;
    transform: scale(1.1);
    border: none;
}

.centro span {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #66fcf1;
    background-color: transparent;
    border: 1px solid #66fcf1;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    font-weight: bold;
    font-size: 3em;
    transition: 0.5s ease-in-out;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #0b0c1042;
    color: #fff;
    width: 100%;
    padding: 10px;
}

footer h1 {
    font-size: 1em;
}

footer a {
    color: white;
}

footer i {
    font-size: 2em;
    margin-bottom: 0.5em;
}

footer h2 {
    font-size: 1em;
}

footer a {
    color: white;
}


@media (max-width: 1000px) {
    body {
        height: auto;
    }

    .workspace {
        flex-direction: column-reverse;
        width: 600px;
        height: 900px;
    }

    .centro {
        width: 600px;
    }
}

@media (max-width: 600px) {
    .workspace {
        width: 420px;
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    body{
        width: 100vw;
    }

    .workspace {
        width: 350px;
        margin-bottom: 20px;
    }

    .centro div {
        width: 200px;
    }
}